<div class="flex justify-center p-10">
    <fieldset class="fieldset bg-base-200 overflow-x-auto rounded-box border p-4 shadow-xl inline-block">
        <legend class="fieldset-legend">{{ vm.editingTodo ? 'Update Todo' : 'Add New Todo' }}</legend>
        
        <label class="label">Title*</label>
        <input type="text" class="input" ng-model="vm.todo.title"/>
        
        <label class="label">Description</label>
        <input type="text" class="input" ng-model="vm.todo.description"/>
        
        <div ng-if="vm.editingTodo">
            <label class="label justify-start">
                <input type="checkbox" class="checkbox checkbox-xs" ng-model="vm.todo.is_completed"/>
                <span class="ml-2">Completed?</span>
            </label>
        </div>
        
        <div class="mt-2">
            <button class="btn btn-success btn-soft" ng-click="vm.submitForm()">Submit</button>
            
            <button class="btn btn-ghost btn-outline ml-2" ng-if="vm.editingTodo" ng-click="vm.cancelEdit()">Cancel</button>
        </div>
    </fieldset>
</div>